[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Icon=/opt/android-studio/bin/studio.png
Exec=/opt/android-studio/bin/studio
Comment=Android Studio IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=Android Studio

